<div class="video-wrapper">
    <video
        playsinline
        autoplay
        muted
        loop
    >
        <source src="{{video}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="layer">
        <div class="content max-w-xl">
            <h1>FreeFlow Nation</h1>
            <p>
                A complementary digital "nation" which flows freely across physical borders welcoming as digital citizens all those who dream of a better world and are ready to act.
            </p>
        </div>
    </div>
</div>
